<!DOCTYPE html>
<html lang="en" data-theme="dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>zzangtae's Job Scrapper</title>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"
        />
        <link rel="stylesheet" href="../static/style.css" />
    </head>
    <body>
        <main class="container">
            <h1>Welcome to zzangtae's Job Scrapper</h1>
            <h4>What do you want?</h4>
            <form action="/search_wework" class="pico">
                <input
                    type="text"
                    name="keyword"
                    placeholder="Write one keyword please"
                />
                <button>Search_wework</button>
            </form>
            <form action="/search_web3">
                <input
                    type="text"
                    name="keyword"
                    placeholder="Write one keyword please"
                />
                <button>Search_web3</button>
            </form>
            <form action="/search_berlin">
                <input
                    type="text"
                    name="keyword"
                    placeholder="Write one keyword please"
                />
                <button>Search_berlin</button>
            </form>
        </main>
    </body>
</html>
