<!DOCTYPE html>
<html lang="en" data-theme="dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>zzangtae's Job Scrapper</title>
        <!-- pico -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"
        />
        <link rel="stylesheet" href="../static/style.css" />
    </head>
    <body>
        <main class="container">
            <hgroup>
                <h6><a href="/">Home!!</a></h6>
                <h1>Search Results for "{{keyword}}":</h1>
                <a target="_blank" href="/export_wework?keyword={{keyword}}"
                    >Export to file</a
                >
            </hgroup>
            <table role="grid">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Comapny</th>
                        <th>Position</th>
                        <th>Link</th>
                        <th>Location</th>
                    </tr>
                </thead>
                <tbody>
                    {% for job in jobs %}
                    <tr>
                        <td>{{job.title}}</td>
                        <td>{{job.company}}</td>
                        <td>{{job.position}}</td>
                        <td>
                            <a href="{{job.link}}" target="_blank"
                                >Apply &rarr;</a
                            >
                        </td>
                        <td>{{job.location}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </body>
</html>
